<div class="masonry-item col-md-6">
  <div class="bgc-white p-20 bd">
      <app-alert-message [message]="message" [alertClass]="alertClass"></app-alert-message>

    <h6 class="c-grey-900">Change Password</h6>
    <div class="mT-30">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
         <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword" 
          [ngClass]="{'is-invalid':changePasswordForm.controls['oldPassword'].errors && (changePasswordForm.controls['oldPassword'].touched || changePasswordForm.controls['oldPassword'].dirty )}"
          
          >
          <div class="invalid-feedback" 
          *ngIf="changePasswordForm.controls['oldPassword'].errors && (changePasswordForm.controls['oldPassword'].touched || changePasswordForm.controls['oldPassword'].dirty )">
            <div *ngIf="changePasswordForm.controls['oldPassword'].errors.required ">Old Password is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword"> New Password</label>
          <input type="password"
          [ngClass]="{'is-invalid':changePasswordForm.controls['newPassword'].errors && (changePasswordForm.controls['newPassword'].touched || changePasswordForm.controls['newPassword'].dirty )}"
          
          formControlName="newPassword" class="form-control" id="newPassword" >
          <div class="invalid-feedback" 
          *ngIf="changePasswordForm.controls['newPassword'].errors && (changePasswordForm.controls['newPassword'].touched || changePasswordForm.controls['newPassword'].dirty )">
            <div *ngIf="changePasswordForm.controls['newPassword'].errors.required ">New Password is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword"> New Re-Password</label>
          <input type="password" 
          formControlName="newRePassword" 
          [ngClass]="{'is-invalid':changePasswordForm.controls['newRePassword'].errors && (changePasswordForm.controls['newRePassword'].touched || changePasswordForm.controls['newRePassword'].dirty )}"
         
          class="form-control" id="newRePassword" >
          <div class="invalid-feedback" 
          *ngIf="changePasswordForm.controls['newRePassword'].errors && (changePasswordForm.controls['newRePassword'].touched || changePasswordForm.controls['newRePassword'].dirty )">
           
          
          <div *ngIf="changePasswordForm.controls['newRePassword'].errors.required ">Old Password is required.</div>
            <div *ngIf="changePasswordForm.controls['newRePassword'].errors?.MatchPassword ">Password doesnot match.</div>
         
          </div>

        </div>
        
        <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-primary">Submit</button>
       </form>
    </div>
  </div>
</div>