
  <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item  w-100">
        <div class="row gap-20">
                <ng-container *ngIf="userCount">
          <!-- #Toatl Visits ==================== -->
          <div class='col-md-3'>
             
                    <app-user-status-card [title]="'Total Active User'"[userCount]="userCount.activeUserCount" ></app-user-status-card>
        
             
               </div>
          <div class='col-md-3'>
              <app-user-status-card [title]="'Total Suspended User'" [userCount]="userCount.suspendedUserCount"></app-user-status-card>
          </div>
          <div class='col-md-3' >
              <app-user-status-card [title]="'Total Provisioned User'" [userCount]="userCount.provisionedUserCount"></app-user-status-card>
          </div>
          <div class='col-md-3'>
              <app-user-status-card [title]="'Total Staged User'" [userCount]="userCount.stagedUserCount" ></app-user-status-card>
          </div>
        </ng-container>
          
         
        </div>
      </div>
     
      
    </div>
