/* You can add global styles to this file, and also import other style files */
.nav-item:hover {
cursor:pointer;
}
#sign-in-widget .auth-container  {
    margin:120px auto;
}
.user-profile-tab .nav {
    background-color: #ffffff ;
    border-bottom: 1px solid rgba(0, 0, 0, .0625) ;
}
.user-profile-tab .nav .nav-item{
    padding:20px;
    border-bottom: 1px solid rgba(0, 0, 0, .0625) ;
    border-right:1px solid rgba(0, 0, 0, .0625) ;
}
.user-profile-tab .nav .nav-item a{
    color:#000000;
}
.user-profile-tab .nav .nav-item .nav-link.active{
    color:#2196f3;
}


.user-profile-tab .nav-pills .nav-link.active{
    background-color:#ffffff;
}

.user-profile-tab .tab-content {
    width:250%;
}
.pos-mid{
    margin:auto;
}